{#
/**
 * @file message_type.html.twig
 * Default theme implementation to present Message type data.
 *
 * This template is used when viewing Message type pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_message_type()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('message_type') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
