{#
/**
 * @file
 * Default theme implementation for the marquee render element.
 *
 * Available variables:
 * - attributes: Attributes for the marquee tag.
 * - content: The text to display within the marquee tag.
 *
 * @ingroup themeable
 * @ingroup sample_module
 */
#}
<marquee{{ attributes }}>{{ content }}</marquee>