{# <p>Test twig template!</p>#}
{# <p>url: {{ url }} title: {{ title }}</p> #}
{# {{ dump (items) }} #}
{{ 'Below are the last !num pages you have visited.'|t({ '!num': num_items}) }}
<hr>
{% for item in items %}
    <ul>
        <li>{{ item.title }} - {{ item.ago }} {{ 'ago'|t }}</li>
    </ul>
{% endfor %}