{#
/**
 * @file sample_c_e.html.twig
 * Default theme implementation to present Sample ce data.
 *
 * This template is used when viewing Sample ce pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sample_c_e()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sample_c_e') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
