
{#
/**
 * @file
 * Default theme implementation to my_element.
 *
 * Available variables:
 * - element: Element that will be rendered.
 * - element['link'] : a link
 * - element['description'] : a description
 * - element['pre_render_addition'] : added during the #pre_render function
 * - element['#random_number'] : a random number variable, won't be printed with the element.
 *
 * @ingroup themeable
 */
#}

<div class="myElement">
    <div class="randomNumber">Random Number: {{ element['#random_number'] }}</div>
    <p>{{ element.description }}</p>
    {{ element.link }}
</div>

{# Debug output #}
<div>
    <h3>** Debug dump **</h3>
    <h3>element: {{ element }} </h3>
    <h3>link: {{ element.link }}</h3>
    <h3>description: {{ element.description }}</h3>
    <h3>#pre_render addition: {{ element.pre_render_addition }}</h3>
    <h3>Random number: {{ element['#random_number'] }}</h3>
</div>